@import "../variables";


.input{
  width: 100%;
  border: none;
  background: $color-white-gray;
  border-radius: $border-radius;
  display: block;
  padding: $padding-button;
  box-sizing: border-box;
  line-height: 1rem;

  &_bg_dark-turquoise{
    background: $color-dark-turquoise;
    color: $color-light-gray;
  }
}
